[% FOR option IN veldoptie_opties %]
    [% option_value = option.value %]

    [% inactive = option.exists('value') && !option.active %]
    [% NEXT IF inactive && !show_inactive && !veldoptie_values.$option_value %]

    [% radio_counter = ( radio_counter || 0 ) + 1 %]
    [% radio_id = 'radio_' _ veldoptie_id _ radio_counter %]
    <label class="radio-item[% IF option.item('value') && !option.active %]
            radio-item-disabled
        [% END %]" for="[% radio_id %]">
    <input
        type="radio"
        name="[% veldoptie_name %]"
        value="[% option_value | html_entity %]"
        id="[% radio_id %]"
        [% (veldoptie_values.$option_value.length ? ' checked="checked"' : '') %]
    />
    [% optielabel = option_value | ucfirst | html_entity %]
    [% optielabel.length ? optielabel : 'Onbekend' %]
    </label><br/>
[% END %]
