<div class="pip-overview-title pip-page-title">
  <h1>Mijn zaken</h1>
</div>

<p class="pip-overview-introduction">Welkom <span>[% betrokkene.naam %]</span>. Hier ziet u een overzicht van uw zaken. Klik op de titel voor meer informatie.</p>

[% total_concepts = onafgeronde_zaken.pager.total_entries %]
[% IF total_concepts %]
<div class="pip-overview-unfinished-cases pip-overview-block">
  <form name="zaken_onafgerond" action="">
    <fieldset>
      <input type="hidden" name="sort_field" value="[% sort_field | html%]"/>
      <input type="hidden" name="sort_direction" value="[% sort_direction | html %]"/>
      <input type="hidden" name="page" value="[% page | html%]"/>
      <input type="hidden" name="pager_request" value="" />
      <input type="hidden" name="total_entries" value="[% total_concepts %]"/>

      <div class="pip-overview-block-title">
        <h2>Mijn concepten (<span class="total_entries">[% total_concepts %]</span>)</h2>
        <em>Concepten worden na 30 dagen automatisch uit het systeem gehaald.</em>
      </div>

      <div class="pip-overview-block-content zaken_filter_wrapper">
        <div class="spinner-groot">
          <div></div>
        </div>

        <div class="zaken_filter_inner">
          <table>
            <tbody>
              [% USE date %]
              [% WHILE (zaak = onafgeronde_zaken.next) %]
              <tr>
              <tbody>
                <td>
                  <div class="pip-overview-case-title">
                   [% lowercase = '/aanvragen/' _ zaak.get_column('zaaktype_id') _ '/' _
                     (c.session.pip.ztc_aanvrager.match('bedrijf') ?  'organisatie' : 'persoon') _
                     '/afronden' | trim | replace('\s+', '-') FILTER lower %]
                    <a href="[% c.uri_for(lowercase) %]">
                      [% zaak.zaaktype_id.zaaktype_node_id.titel %]
                      [% zaakdata = zaak %]
                    </a>
                  </div>
                </td>
                  <td>Laatst gewijzigd: [% zaak.created.set_time_zone('Europe/Amsterdam').set_locale('nl_NL').strftime('%e %B %Y, %H:%M uur') %]</td>
              </tr>
              [% END %]
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </form>
</div>
[% END %]

[% total_zaken = zaken.pager.total_entries;
  IF total_zaken %]
<div class="pip-overview-open-cases pip-overview-block">
  <form name="zaken_openstaand" action="">
    <fieldset>
      <div class="pip-overview-block-title">
        <h2>Mijn lopende zaken (<span class="total_entries">[% total_zaken %]</span>)</h2>
      </div>

      <div class="zaken_filter_wrapper pip-overview-block-content">
        <div class="zaken_filter_inner">
          [% results = zaken %]
          [% PROCESS widgets/result.tt %]
        </div>
      </div>
    </fieldset>
  </form>
</div>
[% END %]

[% total_gemachtigde = gemachtigde_zaken.pager.total_entries;
  IF total_gemachtigde %]
<div class="pip-overview-open-cases pip-overview-block">
  <form name="gemachtigde_zaken_openstaand" action="">
    <fieldset>
      <div class="pip-overview-block-title">
        <h2>Zaken waarvoor ik gemachtigd ben (<span class="total_entries">[% total_gemachtigde %]</span>)</h2>
      </div>

      <div class="zaken_filter_wrapper pip-overview-block-content">
        <div class="zaken_filter_inner">
          [% results = gemachtigde_zaken %]
          [% PROCESS widgets/result.tt %]
        </div>
      </div>
    </fieldset>
  </form>
</div>
[% END %]

[% total_afgehandeld = afgehandelde_zaken.pager.total_entries;
  IF total_afgehandeld %]
<div class="pip-overview-finished-cases pip-overview-block">
  <form name="zaken_afgehandeld" action="">
    <fieldset>
      <div class="pip-overview-block-title">
        <h2>Mijn afgehandelde zaken (<span class="total_entries">[% total_afgehandeld %]</span>)</h2>
      </div>

      <div class="pip-overview-block-content zaken_filter_wrapper">
        <div class="zaken_filter_inner">
          [% results = afgehandelde_zaken %]
          [% PROCESS widgets/result.tt %]
        </div>
      </div>
    </fieldset>
  </form>
</div>
[% END %]

[% total_gemachtigd_afgehandeld = gemachtigde_afgehandelde_zaken.pager.total_entries;
  IF total_gemachtigd_afgehandeld %]
<div class="pip-overview-finished-cases pip-overview-block">
  <form name="gemachtigde_zaken_afgehandeld" action="">
    <fieldset>
      <div class="pip-overview-block-title">
        <h2>Mijn gemachtigde afgehandelde zaken (<span class="total_entries">[% total_gemachtigd_afgehandeld %]</span>)</h2>
      </div>

      <div class="pip-overview-block-content zaken_filter_wrapper">
        <div class="zaken_filter_inner">
          [% results = gemachtigde_afgehandelde_zaken %]
          [% PROCESS widgets/result.tt %]
        </div>
      </div>
    </fieldset>
  </form>
</div>
[% END %]
