.kenmerk-option-add{
    padding:0 40px 0 0;
    position:relative;
    textarea{
        min-height: 0;
    }
    .button{
        position: absolute;
        right:0;
        top:0;
        margin-bottom:0;
        i{
            font-size:14px;
        }
    }
}

.kenmerk-option-table{
    .kenmerk-option-table-body{
    }
    margin-bottom:10px;
}

.kenmerk-option{
    position: relative;
    list-style:none;
    border-bottom:1px solid #ddd;
    padding:.5em 25px .5em 0px;
    div{
        display: inline-block;
    }
    &.zs-sorting > * {
        opacity:.5;  
    }
    .kenmerk-option-active{
        margin-right:4px;
    }
    .kenmerk-option-actions{
        top:5px;
        right:0;
        position:absolute;
    }
    button{
        background:none;
        i{
            color:#bbb;
            &:hover{
                color:#000;
            }
        }
    }
}

.kenmerk-option-visibility-button.show-more{
    border-bottom-color:#ddd;
    line-height: 1.5;
    padding:4px 0;
    outline:none;
}

.kenmerk-version-history{
    border:1px solid #bbb;
    background:#f9f9f9;

    .kenmerk-version-history-inner{
        padding: 10px;
    }
    .show-more{
        font-weight: bold;
        padding-left:8px;
        padding-right:8px;
        border-bottom-color:#ddd;
        &:hover{
            background:#f1f1f1;
        }
    }
}