@import "../../styles/variables";

zs-contextual-action-menu-button {

	height:auto;
	padding:23px;
	box-sizing:content-box;

	.popup-menu-list{
		margin: 0;
		padding: 2px;
		position: absolute;
		bottom: 13px;
		right: 21px;
		background-color: transparent;
		box-shadow: none;
		z-index: 2;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column-reverse;
		max-height: none;
		align-items: flex-end;
		width: auto;

		.popup-menu-list-item{
			padding:8px 0;
			text-align: left;
			position: relative;
			display: flex;
			flex: 1 0 auto;
			.mdi{
				font-size:1.45rem;
			}
			.mdi-comment-plus-outline{
				top:2px;
				position: relative;
			}
			&.ng-enter-prepare {
				display: none;
			}
		}
		.popup-menu-list-item-button{
			
			padding:0;
			width: auto;
			> .button-inner {
				display: flex;
				flex: 1 1 auto;
				flex-flow: row reverse;
				align-items: center;
				justify-content: flex-end;
			}

			&:hover {
				background: none;
				> .popup-menu-list-item-label {
					opacity: 1;
				}
			}

			zs-icon{
				margin:0;
				justify-content: center;
			}
		}

		.popup-menu-list-item-label{
			color:#000;
			background: rgb(255,255,255);
			padding: 4px 8px;
			border-radius:$border-radius;
			box-shadow:0 1px 3px rgba(0,0,0,0.6);
			margin-left:10px;
			transition: 0.15s ease-out opacity;
			transition-delay: 0s;
			width:auto;
			white-space: nowrap;
			margin-right: 20px;
			opacity: 0.9;
			font-size:.933rem;
		}
		.btn-floating {
		}
	}

	[data-type="secondary"] {
		.btn-floating {
			width: 42px;
			height: 42px;
			background-color: #ddd;
			line-height: 42px;
			margin-right: 8px;
			.mdi{
				font-size:1.2rem;
				line-height: 42px;
			}
		}
	}



}

zs-contextual-action-menu {

	.popup-menu-list-item.ng-leave,
	.popup-menu-list-item.ng-enter,
	.zs-icon-wrapper {
    	transition: 0.15s linear;
    	transition-property: opacity, transform;
	}

	.popup-menu-list-item.ng-leave,
	.popup-menu-list-item.ng-enter.ng-enter-active {
		opacity: 1;
	}

	.popup-menu-list-item.ng-leave.ng-leave-active,
	.popup-menu-list-item.ng-enter {
		opacity: 0;
	}

	.popup-menu-list-item.ng-enter-stagger,
	.popup-menu-list-item.ng-leave-stagger {
		transition-duration: 0s;
	}

	.popup-menu-list-item.ng-enter-stagger {
		transition-delay: 0.01s;
	}

	.popup-menu-list-item.ng-leave-stagger {
		transition-delay: 0s;
	}
	
	.popup-menu-list-item.ng-enter .zs-icon-wrapper,
	.popup-menu-list-item.ng-leave.ng-leave-active .zs-icon-wrapper {
		transform: scale(0.25) rotate(90deg);
	}

	.popup-menu-list-item.ng-enter-active .zs-icon-wrapper,
	.popup-menu-list-item.ng-leave .zs-icon-wrapper {
		transform: scale(1) rotate(0deg);
	}

}
