

[% phases = c.model('DB::Zaaktype').find(casetype.zaaktype_id).zaaktype_node_id.zaaktype_statussen %]
[% # zit dit kenmerk in het zaaktype? vind eerste fase waar ie in zit %]
[% bibliotheek_kenmerken_id = c.model('DB::BibliotheekKenmerken').find({naam => document.naam}) %]
[% IF bibliotheek_kenmerken_id %]
    [% status = c.model('DB::Zaaktype').find(casetype.zaaktype_id).zaaktype_node_id.zaaktype_kenmerken.find({bibliotheek_kenmerken_id}).zaaktype_status.status %]
[% ELSE %]
    <select class="ezra_inavigator_case_phase_selector" name="[% fieldname %]">
        [% FOREACH row = phases %]
            <option value="[% row.status %]">[% row.naam %]</option>
        [% END %]
    </select>
[% END %]
