[% USE Dumper %]

[% manual_subcases = current_phase.manual_subcases %]

[% WHILE(zaaktype_relatie = manual_subcases.next()) %]

    [% IF c.can_change %]

        [% has_side_panes = 1 %]
        [% template_items = template_items + 1 %]

        [% subcase_html = BLOCK %]
            <div class="sjabloon-icon icons-zaakdossier"></div>
            <strong>[% zaaktype_relatie.relatie_zaaktype_id.zaaktype_node_id.titel %]</strong><br/>
            <span>[% zaaktype_relatie.relatie_type %]</span>
        [% END %]

        [% IF zaak.is_afgehandeld %]
            <a class="sjabloon deelzaaksjabloon dossier-sidebar-item ezra_dialog" title="Zaak [% zaaktype_relatie.relatie_zaaktype_id.zaaktype_node_id.titel %] starten" %]">
                [% subcase_html %]
            </a>
        [% ELSE %]
            <a class="sjabloon deelzaaksjabloon dossier-sidebar-item ezra_dialog" title="Zaak [% zaaktype_relatie.relatie_zaaktype_id.zaaktype_node_id.titel %] starten"
                        href="[% c.uri_for('/zaak/' _ zaak.nr _ '/start_subcase/' _
                            zaaktype_relatie.id _ '/' _
                            current_phase.status) 
                        %]">
                [% subcase_html %]
            </a>
        [% END %]
    [% END %]

[% END %]
