<!--div id="zoek_zaaktype">
    <div id="accordion">
        <h3><a href="#">Zoekcriteria</a></h3>
        <div>
           <div id="search_zaaktype_popup" class="ui-accordion-inner clearfix">
                <form>
                [% INCLUDE widgets/zaaktype/zaaktype_search.tt %]
                <input type="hidden" name="jsfilldescr" value="[% c.req.params.jsfilldescr %]" />
                <input type="hidden" name="jsfillid" value='[% c.req.params.jsfillid %]' />
                <input type="hidden" name="jstrigger" value='[% c.req.params.jstrigger %]' />
                <input type="hidden" name="jsbetrokkene_type" value='[% c.req.params.jsbetrokkene_type %]' />
                <input type="hidden" name="show_inactive" value='[% c.req.params.show_inactive %]' />
                <input type="hidden" name="search" value='1' />
                <input type="hidden" name="search_filter_post" value="[% search_filter_post %]"/>
                <input type="submit" class="button button-primary right last" name="submit" value="Zoeken" />
                </form>
                <i id="betrokkene_loader" class="disabled spinner-small spinner-dialog"></i>
            </div>
        </div>

        <h3><a href="#">Resultaten</a></h3>

        <div>
            <div class="ui-accordion-inner">
                <table class="table_zaken_title" id="search_zaaktype_results">
                </table>
            </div>
        </div>
    </div>
</div-->

<div id="kennisbank_search">
    <div id="accordion">
        <h3><a href="#">Zoekcriteria</a></h3>
        <div>
           <div id="search_zaaktype_popup" class="ui-accordion-inner clearfix">
                <form method="POST">
                    <input type="hidden" name="search" value="1" />

                    <div class="kennisbank_search_table">
                        <table class="marginbottom">
                            <tr>
                                <td>Trefwoorden:</td>
                                <td><input type="text" name="term" class="input_large" value=""></td>
                            </tr>
                        </table>
                    </div>

                    <input type="submit" class="button button-primary right last" name="submit" value="Zoeken" />
                </form>
                <i id="betrokkene_loader" class="disabled spinner-small spinner-dialog"></i>
            </div>
        </div>

        <h3><a href="#">
            Resultaten (<span
                class="ezra_search_box-result_count">0 van 0</span>)
            </a>
        </h3>

        <div>
            <div class="ui-accordion-inner ezra_search_box-results">
                <table>
                </table>
            </div>
        </div>
    </div>
</div>

