<h2>Contactinformatie</h2>

                        [% IF can_betrokkene_edit %]
                            [% IF betrokkene.btype == 'bedrijf' %]
                                <form
                                    method="POST"
                                    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                                    class="submitWaiter zvalidate" >
                                        <input type="hidden" name="referer" value="[% c.req.uri %]" />
                                        <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                                    [% IF betrokkene_edit %]
                                        <input type="hidden" name="betrokkene_edit" value="1" />
                                    [% END %]
                            [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
                                <form
                                    method="POST"
                                    action="[% c.uri_for('/betrokkene/info/update/' _ requested_bid) %]"
                                    class="submitWaiter zvalidate">
                                        <input type="hidden" name="referer" value="[% c.req.uri %]" />
                                        <input type="hidden" name="betrokkene_type" value="[% betrokkene.btype %]" />
                                    [% IF betrokkene_edit %]
                                        <input type="hidden" name="betrokkene_edit" value="1" />
                                    [% END %]
                            [% END %]
                        [% END %]


                        <div class="clearfix">
                        [% IF betrokkene.btype == 'bedrijf' %]
                            [% IF betrokkene_edit %]
                                [% PROCESS widgets/betrokkene/bedrijf_create.tt %]
                            [% ELSE %]
                                [% PROCESS widgets/betrokkene/view_bedrijf.tt %]
                            [% END %]
                        [% ELSIF betrokkene.btype == 'natuurlijk_persoon' %]
                            [% IF betrokkene_edit %]
                                [% PROCESS widgets/betrokkene/natuurlijk_persoon_create.tt %]
                            [% ELSE %]
                                [% PROCESS widgets/betrokkene/view_natuurlijk_persoon.tt %]
                            [% END %]
                        [% ELSIF betrokkene.btype == 'medewerker' %]
                            [% PROCESS widgets/betrokkene/view_medewerker.tt %]
                        [% END %]
                        </table>

                      <!--   <div class="button-holder">

                    [% UNLESS betrokkene_edit %]
                        <a
                            class="element width-auto small right"
                            href="[% c.uri_for(
                                '/zaak/create',
                                    {
                                        'betrokkene_type'   => betrokkene.btype,
                                        'betrokkene_id'     => 'betrokkene-'
                                            _ betrokkene.btype
                                            _ '-' _ betrokkene.ex_id,
                                        'betrokkene_naam'   => betrokkene.naam
                                    }
                                )
                            %]"
                            id="voegtoe"
                        ><span></span>
                        Nieuwe Zaak</a>
                    [% END %]

                [% UNLESS betrokkene.authenticated %]
                    [% IF c.check_any_user_permission('contact_nieuw') %]
                        [% IF can_betrokkene_edit %]
                            [% UNLESS betrokkene_edit %]
                                <a
                                    class="edit element width-auto small right"
                                    href="[% c.req.uri_with(
                                        { edit => 1 }
                                        )
                                    %]"
                                    id="bewerken"
                                    >
                                    <span></span>
                                    Bewerken</a>
                                [% END %]
                                <a
                                    class="verwijder ezra_dialog element width-auto small right"
                                    href="[% c.uri_for(
                                        '/betrokkene/verwijder/'
                                        _ betrokkene.btype _ '/'
                                        _ betrokkene.ex_id
                                        )
                                    %]"
                                    id="verwijderen"
                                ><span></span>
                                Verwijderen</a>

                        [% END %]
                    [% END %]
                [% END %] -->
                [% IF can_betrokkene_edit %]
[% # removed because it shows this button at urls like http://xxxx.zaaksysteem.nl/betrokkene/500009?gm=1&type=medewerker %]
                <div class="form-actions clearfix">
                    <input type="submit" value="Opslaan" class="button button-primary submit" />
                </div>
                [% END %]
                <!-- </div> -->
                    </form>
                </div>
