<div class="timeline clearfix">
    <div data-ng-include="'/html/timeline/timeline.html'" data-ng-controller="nl.mintlab.timeline.TimelineController" data-ng-init="initialize('subject', 'betrokkene-[% betrokkene.btype %]-[% betrokkene.ex_id %]');[% IF c.req.params.eventId %]eventId=[% c.req.params.eventId %][% END %]">
    </div>
</div>