[% method   = c.req.args.1 %]

[% BLOCK generic_field %]
    <tr>
        <td class="td300">[% label %]</td>
        <td class="td310">
            <input
                type="text"
                name="[% name %]"
                class="input_large"
                value=""
            />
        </td>

        <td class="tdvar">
            [% PROCESS widgets/general/validator.tt  message = validator_message %]
            [% PROCESS widgets/general/tooltip.tt    message = "Regex: " _ tooltip %]
        </td>
    </tr>
[% END %]

[% BLOCK zapi_iface %]
    [% definition = results.methods.$method.profile %]
    [% USE Dumper %]
    <!-- <pre>[% Dumper.dump(definition) %]</pre> -->

<form name="zapi_help" action="[% results.methods.$method.url %]" class="zapi_help">
    [% IF definition.required %]
        <table class="marginbottom form">
            <thead>
                <tr>
                    <th colspan="3" class="th_16px blue">Required</th>
                </tr>
            </thead>
            <tbody>
            [% FOREACH param IN definition.required %]
                [% PROCESS generic_field 
                    label   = param
                    name    = param
                    tooltip = definition.constraint_methods.$param
                %]
            [% END %]
            </tbody>
        </table>
    [% END %]
    [% IF definition.optional %]
        <table class="marginbottom form">
            <thead>
                <tr>
                    <th colspan="3" class="th_16px blue">Required</th>
                </tr>
            </thead>
            <tbody>
            [% FOREACH param IN definition.optional %]
                [% PROCESS generic_field 
                    label   = param
                    name    = param
                    tooltip = definition.constraint_methods.$param
                %]
            [% END %]
            </tbody>
        </table>
    [% END %]
    <div class="form-actions clearfix">
        <input class="clickCall button button-primary grijs right" value="Call"
            type="submit" />
    </div>
</form>

<pre class="zapi_output"></pre>
[% END %]

<script type="text/javascript" src="[% c.uri_for('/tpl/zaak_v1/nl_NL/js/zaaksysteem/zapi.js') %]"></script>
<div class="block">
    <div class="header">Zaaksysteem API:
        [% results.namespace %][% method ? '/' _ method : '' %]
    </div>
    <div class="blockcontent">
        [% IF method %]
            [% PROCESS zapi_iface method = method %]
        [% ELSE %]
            <ul class="list">
                [% FOREACH method IN results.methods.keys %]
                <li><a href="[% c.uri_for(c.action) %]/sim/[% method %]" title="[% method %]">[% results.methods.$method.url %]</a></li>
                [% END %]
            </ul>
        [% END %]
    </div>
</div>
