[% IF !zaaktype.properties.no_captcha && recaptcha.defined %]

<div class="stap-content stap-content-multiple">
    <div class="stap-tekst">
        <h3>Captcha</h3>
    </div>
    <br/>
    <div>
    [% recaptcha %]
    </div>


</div>
[% END %]
