<div class="block">
	<div class="block-header clearfix">
		<h1 class="block-header-title">Niet gevonden</h1>
	</div>
	<div class="block-content">
        De gevraagde pagina kon niet worden gevonden.<br>
        <a href="[% c.uri_for('/') | html %]">Terug naar dashboard</a>
    </div>
</div>
