<div class="block mijlpaal_definitie form ztb" id="mijlpalen_configureren">
    <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer">
        <input type="hidden" name="zaaktype_update" value="1" />
        <input type="hidden" name="definitie_update" value="1" />

        <div class="block-header ztb-header clearfix">
            [% IF(zaaktype_id) %]
            <div class="block-header-title">[% params.node.titel | html_entity %] -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
                <span>Mijlpalen benoemen</span>
            </div>
            <div class="block-header-actions">

                <a
                href="[% formaction %]"
                class="button button-secondary ezra_ajax_action right button-in-header"
                rel="action: add"
                ><i class="icon-font-awesome icon-plus icon-lebensraum"></i> Fase toevoegen</a>
            </div>
        </div>

        <div class="block-content">
            <div class="ezra_ajax_widget">
                [%
                    PROCESS beheer/zaaktypen/milestone_definitie/ajax_table.tt
                %]
            </div>
            <div class="form-actions form-actions-sticky clearfix">
                <input type="submit" name="goback" class="button-secondary button left" value="Vorige" />

                [% PROCESS beheer/zaaktypen/voortgang.tt %]

                <input type="submit" class="button-primary button right" value="Volgende" />
                <input name="destination" type="hidden" value="" />
            </div>
            
        </div>
    </form>
</div>
